@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply antialiased;
}

:root {
	--background: #0d0d0d;
	--foreground: #ffffff;
}

html {
	color: var(--foreground);
	background: var(--background);
}

body {
	@apply dark h-full w-full overflow-hidden text-white;
	color: var(--foreground);
	background: var(--background);
}

.halo-text {
	text-shadow: 0 0 3px #ffffff;
}
