#DOCKER_HOST=
CDP_API_KEY_NAME=
CDP_API_KEY_PRIVATE_KEY=
NETWORK_ID=base-sepolia
OPENAI_API_BASE=https://api.groq.com/openai/v1
OPENAI_API_KEY=
OPENAI_API_MODEL=
GROQ_API_BASE=https://api.groq.com/openai/v1
GROQ_API_KEY=
GROQ_API_MODEL=llama-3.3-70b-versatile
GROQ_API_MODEL_SCRAPER=llama-3.1-8b-instant
GEMINI_API_BASE=https://generativelanguage.googleapis.com/v1beta/openai
GEMINI_API_KEY=
GEMINI_API_MODEL=gemini-2.5-flash-preview-05-20
